header{
    background-color: #f7adaa ;
    h1{
        font-family: 'Lobster';
        font-size: 60px;
        color: white;
        padding: 5px;
    }
    h2{
        font-family: $main-font;
        color: white;
        padding: 5px;
    }
}