@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lobster&family=Montserrat:wght@100;300&family=Open+Sans&display=swap');

/*Variables*/
$main-font:'Montserrat', sans-serif;
$bg-color: #ffc0cb;
$color-t2: rgb(217, 176, 241);

@import "header";
@import "tarjetas";
@import "tarjetasNovedades";
@import "variables";
@import "mixin";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $main-font;
}
.logo{
    margin-left: 70px;
    padding: 8px;
}

@media (max-width: 767px){
    .logo{
        display: block;
        max-width: 100%;
        margin: 0 auto;
    }
    .accordion{
        display: block;
        max-width: 100%;
        margin: 0 auto;
    }
}
.nav-item{
    color: black;
    font-family:$main-font;
    &:hover{
        background-image: linear-gradient(to bottom,transparent 0 65%, $bg-color 65% 100%);
        background-repeat: no-repeat;
        background-size: 100% 83%;
    }
}
.titulosPaginas{
    font-family: $main-font;
    font-size: 2.62rem;
    line-height: 1;
    letter-spacing: 1.8px;
    background-image: linear-gradient(to bottom,transparent 0 65%, #f7adaa 65% 100%);
}

main .bannerInfo{
    background-image: url(../assets/img/bannerDcto1.jpg);
    min-height: 50vh;
    background-position: center;
    background-size: cover;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;

.tituloBanner{
    padding: 10px;
    color: #444642;
    font-family: 'Fredoka One';
    font-size: 60px;
}
.subBanner{
    color: #444642;
    font-weight: bold;
    font-family: $main-font;
    font-size: 30px;
    font-style: italic;
    padding: 15px;
}
}
.desCarousel{
    font-family: $main-font;
    background: rgba(0,0,0,0.2);
}
.containerC{
    margin-top: 10px;
    margin-bottom: 20px;
    .imgCategoria{
        text-align: center;
        color: white;
        position: relative;
        overflow: hidden;
        cursor: pointer;
    }
    .imgCategoria > img{
        width: 100%;
        height: auto;
        border-radius: 5px;
    }
    .imgText{
        padding: 20px;
        margin-bottom: 20px;
        bottom: 0;
        z-index: 1;
        transform: translateY(145px);
        transition: all .5 cubic-bezier (.13,62,.81,.91) 0s;
        
    }
    .imgText > h3{
        font-family: $main-font;
    }
}

.imgText, .imgCategoria:after{
    width: 100%;
    position: absolute;
    left: 0;
}
.imgCategoria:after{
    content: '';
    height: 100%;
    top: 0;
    transition: .5s;
}

.imgCategoria:hover:after{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0, rgba(0, 0, 0, 0.25) 25%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.75) 75%,rgba(0, 0, 0, 0.85)100%) ;
    border-radius: 5px;
}

.imgCategoria:hover .imgText{
    transform: translateY(0) ;
}
.imgText > a{
    text-decoration: none;
    color: white;
    &:hover{
        color: white;
    }
}
#fotoNosotros{
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
    margin-top: 20%;
    margin-bottom: 30%;
    &:hover{
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    }
}
.titulofaq{
    font-family: $main-font;
    font-size: 25px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 1.8px;
    background-image: linear-gradient(to bottom,transparent 0 65%, $bg-color 65% 100%);
    background-repeat: no-repeat;
    background-size: 100% 83%;
}
.accordion-item{
    border: 1px solid rgb(232, 232, 231);    
    &:hover{
        box-shadow: 5px 5px 20px rgba(131, 130, 130, 0.4);

}
}
.accordion-button:not(.collapse){
    background-color: white;
    color: black;
}
.tituloContacto{
    font-weight: bold;
    background-image: linear-gradient(to bottom,transparent 0 65%, $bg-color 65% 100%);
    background-repeat: no-repeat;
    background-size: 100% 83%;
}
.tituloContacto2{
    @extend .tituloContacto;
    background-image: linear-gradient(to bottom,transparent 0 65%, #f59794 65% 100%);
}
.emailContacto{
    color: rgb(245, 151, 148);
    text-decoration: none;
    font-family: $main-font;
&:hover{
    color: black;
    background-image: linear-gradient(to bottom,transparent 0 65%, $bg-color 65% 100%);
    background-repeat: no-repeat;
    background-size: 100% 83%;
}
}
#tarjetaForm{
    border: 1px solid rgb(232, 232, 231);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease; 
    margin-bottom: 10px;
    &:hover{
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    }
}
#tarjetaCont{
    border: 1px solid rgb(232, 232, 231);
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease; 
    &:hover{
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    }
}
footer{
    background-color:rgba(185, 185, 184, 0.849); 
    font-family: $main-font;
    font-size: 16px;
    padding: 10px;
    .fa-brands{
        font-size: 25px;
        padding: 5px;
    }
}

